// @use "../../node_modules/bootstrap/scss/functions";
// @use "../../node_modules/bootstrap/scss/bootstrap.scss";
// @use "variables";
// @use "../../node_modules/bootstrap/scss/mixins";
// @use "bootstrap/scss/functions"; 
// @use "./_variables"; 

// @use "bootstrap/scss/variables";
// @use "bootstrap/scss/mixins";
// @use "bootstrap/scss/bootstrap"; 

@use "../../node_modules/bootstrap/scss/functions" as *;
@use "../../node_modules/bootstrap/scss/variables" as *;
@use "../../node_modules/bootstrap/scss/mixins" as *;
@use "../../node_modules/bootstrap/scss/bootstrap";


html {
  scroll-behavior: smooth;
}

.full-height {
  height: 100vh;
  padding-top: 80px;
}

